<html>
<head>
  <!--Bootsrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<script src="/static/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Aviato
        </a>
      </li>
      <li style="padding: 17px;">
        <a href="#">
          <img src="/static/resources/Emirates_logo.svg"/>
        </a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>

  <!--
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Aviato</a>
        <ul class="nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <form action="" method="post" name="search">{{form.hidden_tag()}}{{form.search(size=100, placeholder="Search", class="search-query")}}</form>
          <div id="map" style="position: absolute; left: 50px; top: 50px;">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- include the dependencies and kartograph.js at the last-->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.qtip.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="/static/js/chroma.min.js"></script>
<script type="text/javascript" src="/static/js/kartograph.min.js"></script>
{% block content %}

{% if mapid != "sea" %}
<script type="text/javascript">
    $(function() {
        var map,
            colorscale,
            countryPopularity = {};
        $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
        $.fn.qtip.defaults.style.def = false;
        /*
        * Now lets get the data
        */
        $.getJSON('/static/resources/popularity.json', function(countryPopularity) {
            /*
            * once we have data, get the svg
            */
            $.get('/static/resources/world.svg', function(svg) {
                var div = $('#map');
                // declare the dimensions of the map
                var map = kartograph.map(div, (640*2), (420*2)),
                /*
                * choose the color scale for the choropleth,
                * consult chroma.js api docs for more details
                */
                color = chroma.scale('Reds').
                        domain(countryPopularity,5,'quantiles','popularity');
                map.setMap(svg);
                /*
                * now add the layer "world" which contains the paths for the country
                * boundaries, the map will appear empty till this is added
                */
                map.addLayer('world', {
                    styles: {
                        'stroke-width': 0.7,
                        /*
                        * pass the color scale function to the fill and stroke attribute
                        */
                        fill: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity:
                                         0);
                            },
                        stroke: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity
                                         :0).darker();
                          }
                    },
                    /*
                    * set tooltip content
                    */
                    tooltips: function(d) {
                        return [d.iso3,
                                countryPopularity[d.iso3]?
                                    countryPopularity[d.iso3].popularity:
                                    0
                                ];
                    }
                });
            });
        });

    });
</script>

{% else %}
<script type="text/javascript">
    $(function() {
        var map,
            colorscale,
            countryPopularity = {};
        $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
        $.fn.qtip.defaults.style.def = false;
        /*
        * Now lets get the data
        */
        $.getJSON('/static/resources/popularity.json', function(countryPopularity) {
            /*
            * once we have data, get the svg
            */
            $.get('/static/resources/world_from_views.svg', function(svg) {
                var div = $('#map');
                // declare the dimensions of the map
                var map = kartograph.map(div, (640*2), (420*2)),
                /*
                * choose the color scale for the choropleth,
                * consult chroma.js api docs for more details
                */
                color = chroma.scale('Reds').
                        domain(countryPopularity,5,'quantiles','popularity');
                map.setMap(svg);
                /*
                * now add the layer "world" which contains the paths for the country
                * boundaries, the map will appear empty till this is added
                */
                map.addLayer('world', {
                    styles: {
                        'stroke-width': 0.7,
                        /*
                        * pass the color scale function to the fill and stroke attribute
                        */
                        fill: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity:
                                         0);
                            },
                        stroke: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity
                                         :0).darker();
                          }
                    },
                    /*
                    * set tooltip content
                    */
                    tooltips: function(d) {
                        return [d.iso3,
                                countryPopularity[d.iso3]?
                                    countryPopularity[d.iso3].popularity:
                                    0
                                ];
                    }
                });
            });
        });

    });
</script>

{% endif %}
{% endblock %}
<!--

<link rel="stylesheet" type="text/css" href="/static/css/jquery.qtip.min.css">
<script type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>

<script type="text/javascript">
    var map, c, scale, updateMap, symbols = [];
    $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
    $.fn.qtip.defaults.style.def = false;
    c = $('#map');
    c.height(c.width()*.5);
    map = kartograph.map('#map');
    map.loadMap('/static/resources/map-usa.svg', function() {
        map.loadCSS('/static/css/style.css', function() {
            map.addLayer('graticule');
            map.addLayer('graticule_1');
            map.addLayer('usa');
            $.getJSON('/static/resources/us-crime-cities.json', function(crimeCities) {
                $.each(crimeCities, function(i,city) {
                    $.each(['ViolentCrime','Rape','Murder'], function(i,prop) {
                        $.each(['2011','2010'], function(i,yr) {
                            city[prop+yr+'Rate'] = city[prop+yr] / city.Population;
                        });
                    });
                });
                updateMap = function() {
                    var prop = $('.dataset.btn-primary').data('val')
                        + $('.year.btn-primary').html()
                        + $('.type.btn-primary').data('val'),
                    maxRad = $('.type.btn-primary').data('maxrad');
                    scale = kartograph.scale.linear(crimeCities, prop);
                    $.each(crimeCities, function(i, c) {
                        var bar, pts;
                        pts = [c.ll, [c.ll[0], c.ll[1], scale(c[prop])*maxRad]];
                        if (symbols[i]) {
                            bar = symbols[i];
                            if (Raphael.svg) bar.animate({ path: map.getGeoPathStr(pts) }, 500);
                            else bar.attr('path', map.getGeoPathStr(pts));
                        } else {
                            bar = map.addGeoPath([c.ll,c.ll]);
                            bar.attr({
                                stroke: '#024',
                                opacity: .6,
                                'stroke-width': 4,
                                fill: 'none',
                                'stroke-linecap': 'square'
                            });
                            if (Raphael.svg) {
                                bar.animate({ path: map.getGeoPathStr(pts) }, 500);
                                bar.node.setAttribute('title', c.City);
                                setTimeout(function() {
                                    $(bar.node).qtip({
                                        content: {
                                            title: c.City,
                                            text: c[prop]
                                        },
                                        position: {
                                            target: 'mouse',
                                            viewport: $(window),
                                            adjust: { x:7, y:7}
                                        },
                                    }, 800);
                                });
                            } else {
                                bar.attr('path', map.getGeoPathStr(pts));
                            }
                            symbols.push(bar);
                        }
                    });
                }
                updateMap();
            });
        });
    }, { padding: -150 });
    $('.btn').click(function(event) {
        var tgt = $(event.target), par = tgt.parent();
        $('.btn', par).removeClass('btn-primary');
        tgt.addClass('btn-primary');
        updateMap();
    });
</script>
<p>This map shows crime data for some cities in the United States. You can choose between showing actual quantities of incidents or the rates. Note that the purpose of this demo is not to promote 3D bar charts (which are fairly ineffective), but to showcase the satellite projection along with the possibility to project three dimensional geo-coordinates. In fact, the height of the bars in this example is given in km above ground.</p>
        <div id="map"></div>


        <span style="margin-right:1em">
            <a class="dataset btn btn-primary" data-val="ViolentCrime">Violent Crime</a>
            <a class="dataset btn" data-val="Rape">Rape</a>
            <a class="dataset btn" data-val="Murder">Murder</a>
        </span>
        <span style="margin-right:1em">
            <a class="year btn btn-primary">2011</a>
            <a class="year btn">2010</a>
        </span>
        <span>
            <a class="type btn btn-primary" data-val="" data-maxrad="500">Quantity</a>
            <a class="type btn" data-val="Rate" data-maxrad="250">Density</a>
        </span>

<html lang='en'>
<head>
  <link rel='stylesheet' type='text/css' href='/static/css/jquery.qtip.min.css'>
  <script type='text/javascript' src='/static/js/jquery.qtip.min.js'></script>
</head>
<body>
<script type="text/javascript">
$(function() {
    var map, c, scale, updateMap, symbols = [];
    $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
    $.fn.qtip.defaults.style.def = false;
    c = $('#map');
    c.height(c.width()*.5);
    map = kartograph.map('#map');
    map.loadMap('static/resources/map-usa.svg', function() {
        map.loadCSS('static/css/style.css', function() {
            map.addLayer('graticule');
            map.addLayer('graticule_1');
            map.addLayer('usa');
            $.getJSON('static/resources/us-crime-cities.json', function(crimeCities) {
                $.each(crimeCities, function(i,city) {
                    $.each(['ViolentCrime','Rape','Murder'], function(i,prop) {
                        $.each(['2011','2010'], function(i,yr) {
                            city[prop+yr+'Rate'] = city[prop+yr] / city.Population;
                        });
                    });
                });
                updateMap = function() {
                    var prop = $('.dataset.btn-primary').data('val')
                        + $('.year.btn-primary').html()
                        + $('.type.btn-primary').data('val'),
                    maxRad = $('.type.btn-primary').data('maxrad');
                    scale = kartograph.scale.linear(crimeCities, prop);
                    $.each(crimeCities, function(i, c) {
                        var bar, pts;
                        pts = [c.ll, [c.ll[0], c.ll[1], scale(c[prop])*maxRad]];
                        if (symbols[i]) {
                            bar = symbols[i];
                            if (Raphael.svg) bar.animate({ path: map.getGeoPathStr(pts) }, 500);
                            else bar.attr('path', map.getGeoPathStr(pts));
                        } else {
                            bar = map.addGeoPath([c.ll,c.ll]);
                            bar.attr({
                                stroke: '#024',
                                opacity: .6,
                                'stroke-width': 4,
                                fill: 'none',
                                'stroke-linecap': 'square'
                            });
                            if (Raphael.svg) {
                                bar.animate({ path: map.getGeoPathStr(pts) }, 500);
                                bar.node.setAttribute('title', c.City);
                                setTimeout(function() {
                                    $(bar.node).qtip({
                                        content: {
                                            title: c.City,
                                            text: c[prop]
                                        },
                                        position: {
                                            target: 'mouse',
                                            viewport: $(window),
                                            adjust: { x:7, y:7}
                                        },
                                    }, 800);
                                });
                            } else {
                                bar.attr('path', map.getGeoPathStr(pts));
                            }
                            symbols.push(bar);
                        }
                    });
                }
                updateMap();
            });
        });
    }, { padding: -150 });
    $('.btn').click(function(event) {
        var tgt = $(event.target), par = tgt.parent();
        $('.btn', par).removeClass('btn-primary');
        tgt.addClass('btn-primary');
        updateMap();
    });
});
</script>
  <div id='map'></div>

  <span style='margin-right:1em'>
     <a class='dataset btn btn-primary' data-val='ViolentCrime'>Violent Crime</a>
     <a class='dataset btn' data-val='Rape'>Rape</a>
     <a class='dataset btn' data-val='Murder'>Murder</a>
  </span>
  <span style='margin-right:1em'>
     <a class='year btn btn-primary'>2011</a>
     <a class='year btn'>2010</a>
  </span>
  <span>
     <a class='type btn btn-primary' data-val='' data-maxrad='500'>Quantity</a>
     <a class='type btn' data-val='Rate' data-maxrad='250'>Density</a>
  </span>
</body>
-->
</body>
</html>
