<html>
<head>
  <!--Bootsrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/simple-sidebar_parag.css" rel="stylesheet">
	<script src="/static/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.tip {
			background-color : #FFFFFF;
			border : 0.5px solid;
			width: 100px;
			height: 30px;
			padding: 5px;
			margin: -5px;
		}
		.head {
			background-color : #FFFFFF;
			border: 0.5px solid;
			width: 100px;
			height: 30px;
			margin: -5px;
			padding: 5px;
		}
		li {
			font-family: 'Open Sans', sans-serif;
		}
		</style>
</head>
<body>

	<div id="wrapper">
	  <div id="sidebar-wrapper">
	    <ul class="sidebar-nav">
	      <li class="sidebar-brand">
	        <a href="{{url_for('fb')}}">
	            <img src="/static/resources/aviato_logo_red.png">
	        </a>
	      </li>
	        <li>
	            <a href="#">About</a>
	        </li>
	        <li>
	            <a href="#">Logout</a>
	        </li>
	        <li>
	            <a href="#">Contact</a>
	        </li>
	    </ul>
	  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <form action="" method="post" name="search" style="position: absolute; width: 200px; height: 30px; font-size: 27px;">{{form.hidden_tag()}}{{form.search(placeholder="Search", class="search-query")}}</form>
					<div id="chartContainer" style="position: absolute; height: 300px; width: 80%; top: 100px; left: 30px;"></div>
          <div id="map" style="position: absolute; left: 50px; top: 450px;">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- include the dependencies and kartograph.js at the last-->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.qtip.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="/static/js/chroma.min.js"></script>
<script type="text/javascript" src="/static/js/kartograph.min.js"></script>
{% block content %}

{% if mapid == "world" %}
<script type="text/javascript">
	var data_points = [];

	$.getJSON("/static/resources/popularity.json", function(countryPop) {
		$.each(["CHN", "KHM", "LAO", "JPN", "USA", "FRA", "SGP", "MYS", "PHL", "EGY", "ITA", "IDN", "GBR", "ARE", "IND", "RUS", "KOR", "VNM",
		"THA", "AUS", "ARG"], function(i, c) {
			var bar =
			{
				y: countryPop[c].popularity,
				label: countryPop[c].Country
			}
			data_points.push(bar);
		});
	});

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {

			title:{
				text:"Number of travellers by Country"

			},
                        animationEnabled: true,
			axisX:{
				interval: 1,
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",
				labelFontFamily: "Lucida Sans Unicode"

			},
			axisY2:{
				interlacedColor: "rgba(1,77,101,.2)",
				gridColor: "rgba(1,77,101,.1)"

			},

			data: [
			{
				type: "bar",
                name: "companies",
				axisYType: "secondary",
				color: "#b80000",
				dataPoints: data_points /*[

				{y: 5, label: "Sweden"  },
				{y: 6, label: "Taiwan"  },
				{y: 7, label: "Russia"  },
				{y: 8, label: "Spain"  },
				{y: 8, label: "Brazil"  },
				{y: 8, label: "India"  },
				{y: 9, label: "Italy"  },
				{y: 9, label: "Australia"  },
				{y: 12, label: "Canada"  },
				{y: 13, label: "South Korea"  },
				{y: 13, label: "Netherlands"  },
				{y: 15, label: "Switzerland"  },
				{y: 28, label: "Britain" },
				{y: 32, label: "Germany"   },
				{y: 32, label: "France"  },
				{y: 68, label: "Japan"   },
				{y: 73, label: "China"},
				{y: 132, label: "US" }
			] */
			}

			]
		});

chart.render();
}
</script>


<script type="text/javascript">
    $(function() {
        var map,
            colorscale,
            countryPopularity = {};
        $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
        $.fn.qtip.defaults.style.def = false;
        /*
        * Now lets get the data
        */
        $.getJSON('/static/resources/popularity.json', function(countryPopularity) {
            /*
            * once we have data, get the svg
            */
            $.get('/static/resources/world.svg', function(svg) {
                var div = $('#map');
                // declare the dimensions of the map
                var map = kartograph.map(div, (640*2.0), (420*2.0)),
                /*
                * choose the color scale for the choropleth,
                * consult chroma.js api docs for more details
                */
                color = chroma.scale('Reds').
                        domain(countryPopularity,5,'quantiles','popularity');
                map.setMap(svg);
                /*
                * now add the layer "world" which contains the paths for the country
                * boundaries, the map will appear empty till this is added
                */
                map.addLayer('world', {
                    styles: {
                        'stroke-width': 0.7,
                        /*
                        * pass the color scale function to the fill and stroke attribute
                        */
                        fill: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity:
                                         0);
                            },
                        stroke: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity
                                         :0).darker();
                          }
                    },
                    /*
                    * set tooltip content
                    */
                    tooltips: function(d) {
											return ["<div class='head'><p style = 'font-size: 1.5em;'>" + d.iso3 + "</p></div>",
															countryPopularity[d.iso3]?
																"<div class='tip'><p style='font-size:2.5em; top:10px;'>" +
																	countryPopularity[d.iso3].popularity + "</p></div>":
																	0
															];
                    }
                });
            });
        });

    });
</script>

{% elif mapid =="east asia" %}
<script type="text/javascript">
	var data_points = [];

	$.getJSON("/static/resources/sea_data_popularity.json", function(countryPop) {
		$.each(["SGP", "PHL", "MYS", "TLS", "IDN", "BRN", "KHM", "LAO", "MMR", "VNM", "THA"], function(i, c) {
			var bar =
			{
				y: countryPop[c].popularity,
				label: countryPop[c].Country
			}
			data_points.push(bar);
		});
	});

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {

			title:{
				text:"Number of travellers by Country"

			},
                        animationEnabled: true,
			axisX:{
				interval: 1,
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",
				labelFontFamily: "Lucida Sans Unicode"

			},
			axisY2:{
				interlacedColor: "rgba(1,77,101,.2)",
				gridColor: "rgba(1,77,101,.1)"

			},

			data: [
			{
				type: "bar",
                name: "companies",
				axisYType: "secondary",
				color: "#b80000",
				dataPoints: data_points /*[

				{y: 5, label: "Sweden"  },
				{y: 6, label: "Taiwan"  },
				{y: 7, label: "Russia"  },
				{y: 8, label: "Spain"  },
				{y: 8, label: "Brazil"  },
				{y: 8, label: "India"  },
				{y: 9, label: "Italy"  },
				{y: 9, label: "Australia"  },
				{y: 12, label: "Canada"  },
				{y: 13, label: "South Korea"  },
				{y: 13, label: "Netherlands"  },
				{y: 15, label: "Switzerland"  },
				{y: 28, label: "Britain" },
				{y: 32, label: "Germany"   },
				{y: 32, label: "France"  },
				{y: 68, label: "Japan"   },
				{y: 73, label: "China"},
				{y: 132, label: "US" }
			] */
			}

			]
		});

chart.render();
}
</script>

<script type="text/javascript">
    $(function() {
        var map,
            colorscale,
            countryPopularity = {};
        $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
        $.fn.qtip.defaults.style.def = false;
        /*
        * Now lets get the data
        */
        $.getJSON('/static/resources/sea_data_popularity.json', function(countryPopularity) {
            /*
            * once we have data, get the svg
            */
            $.get('/static/resources/sea.svg', function(svg) {
                var div = $('#map');
                // declare the dimensions of the map
                var map = kartograph.map(div, (640*1.5), (420*1.5)),
                /*
                * choose the color scale for the choropleth,
                * consult chroma.js api docs for more details
                */
                color = chroma.scale('Reds').
                        domain(countryPopularity,5,'quantiles','popularity');
                map.setMap(svg);
                /*
                * now add the layer "world" which contains the paths for the country
                * boundaries, the map will appear empty till this is added
                */
                map.addLayer('world', {
                    styles: {
                        'stroke-width': 0.7,
                        /*
                        * pass the color scale function to the fill and stroke attribute
                        */
                        fill: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity:
                                         0);
                            },
                        stroke: function(d) {
                            return color(countryPopularity[d.iso3]?
                                         countryPopularity[d.iso3].popularity
                                         :0).darker();
                          }
                    },
                    /*
                    * set tooltip content
                    */
                    tooltips: function(d) {

											return ["<div class='head'><p style = 'font-size: 1.5em;'>" + d.iso3 + "</p></div>",
															countryPopularity[d.iso3]?
																"<div class='tip'><p style='font-size:2.5em; top:10px;'>" +
																	countryPopularity[d.iso3].popularity + "</p></div>":
																	0
															];
                    }
                });
            });
        });

    });
</script>


{% elif mapid == "age" %}
<script type="text/javascript">
	var data_points = [];

	$.getJSON("/static/resources/sea_data_age.json", function(countryAge) {
		$.each(["SGP", "PHL", "MYS", "TLS", "IDN", "BRN", "KHM", "LAO", "MMR", "VNM", "THA"], function(i, c) {
			var bar =
			{
				y: countryAge[c].age,
				label: countryAge[c].Country
			}
			data_points.push(bar);
		});
	});

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {

			title:{
				text:"Average age of travellers by Country"

			},
                        animationEnabled: true,
			axisX:{
				interval: 1,
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",
				labelFontFamily: "Lucida Sans Unicode"

			},
			axisY2:{
				interlacedColor: "rgba(1,77,101,.2)",
				gridColor: "rgba(1,77,101,.1)"

			},

			data: [
			{
				type: "bar",
                name: "companies",
				axisYType: "secondary",
				color: "#b80000",
				dataPoints: data_points /*[

				{y: 5, label: "Sweden"  },
				{y: 6, label: "Taiwan"  },
				{y: 7, label: "Russia"  },
				{y: 8, label: "Spain"  },
				{y: 8, label: "Brazil"  },
				{y: 8, label: "India"  },
				{y: 9, label: "Italy"  },
				{y: 9, label: "Australia"  },
				{y: 12, label: "Canada"  },
				{y: 13, label: "South Korea"  },
				{y: 13, label: "Netherlands"  },
				{y: 15, label: "Switzerland"  },
				{y: 28, label: "Britain" },
				{y: 32, label: "Germany"   },
				{y: 32, label: "France"  },
				{y: 68, label: "Japan"   },
				{y: 73, label: "China"},
				{y: 132, label: "US" }
			] */
			}

			]
		});

chart.render();
}
</script>
<script type="text/javascript">
    $(function() {
        var map,
            colorscale,
            countryAge = {};
        $.fn.qtip.defaults.style.classes = 'ui-tooltip-bootstrap';
        $.fn.qtip.defaults.style.def = false;
        /*
        * Now lets get the data
        */
        $.getJSON('/static/resources/sea_data_age.json', function(countryAge) {
            /*
            * once we have data, get the svg
            */
            $.get('/static/resources/sea.svg', function(svg) {
                var div = $('#map');
                // declare the dimensions of the map
                var map = kartograph.map(div, (640*1.5), (420*1.5)),
                /*
                * choose the color scale for the choropleth,
                * consult chroma.js api docs for more details
                */
                color = chroma.scale('Reds').
                        domain(countryAge, 5, "quantiles", "age");
                map.setMap(svg);
                /*
                * now add the layer "world" which contains the paths for the country
                * boundaries, the map will appear empty till this is added
                */
                map.addLayer('world', {
                    styles: {
                        'stroke-width': 0.7,
                        /*
                        * pass the color scale function to the fill and stroke attribute
                        */
                        fill: function(d) {
                            return color(countryAge[d.iso3]?
                                         countryAge[d.iso3].age:
                                         0);
                            },
                        stroke: function(d) {
                            return color(countryAge[d.iso3]?
                                         countryAge[d.iso3].age
                                         :0).darker();
                          }
                    },
                    /*
                    * set tooltip content
                    */
                    tooltips: function(d) {
											return ["<div class='head'><p style = 'font-size: 1.5em;'>" + d.iso3 + "</p></div>",
															countryAge[d.iso3]?
																"<div class='tip'><p style='font-size:2.5em; top:10px;'>" +
																	countryAge[d.iso3].age + "</p></div>":
																	0
															];
                    }
                });
            });
        });

    });
</script>

{% endif %}
{% endblock %}
<script type="text/javascript" src="/static/js/canvasjs.min.js"></script>

<script>

  // This is called with the results from from FB.getLoginStatus().

  acToken = "";

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '866855950022808',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
  	if(response.status=='connected') {
  		console.log(response.authResponse.accessToken);
  		acToken = response.authResponse.accessToken;
      /*
  		document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '! <a href="http://127.0.0.1:5000/'+acToken+'">See Access Token</a>'+acToken; */
  	}
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  /*
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '! <a href="http://127.0.0.1:5000/'+acToken+'">See Access Token</a>'+acToken;
    });
  }
  */
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="position:absolute; top:20px; left:500px;">
</fb:login-button>

<div id="status">
</div>


</body>
</html>
